@media only screen and (max-width: 1024px) 
{
  [class*="col-"] 
  {
    width: 100%;
  }
 }
}

.responsive
{
  width: 100%;
  height: auto;
}

.responsive-img
{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width:400px;
  height: auto;
}